<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.purdueplaza"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:label="@string/app_name" android:icon="@drawable/plazaicon">
        <activity android:name="MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="LogIn"
                  android:label="@string/login"
                  android:parentActivityName="com.purdueplaza.MyActivity">
        </activity>
        <activity android:name="RegisterAccount"
                  android:label="@string/register_account"
                  android:parentActivityName="com.purdueplaza.MyActivity">
        </activity>
        <activity android:name="HomeActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="RegisterEvent"
                  android:label="@string/register_event"
                  android:parentActivityName="com.purdueplaza.HomeActivity">
        </activity>
        <activity android:name="EventActivity"
                  android:label="@string/event_view"
                  android:parentActivityName="com.purdueplaza.HomeActivity">
        </activity>
    </application>
</manifest>
